@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
    Layout = "_Layout";
}

<div class="row">
    <form method="post">
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Logout</button>
            <a class="btn btn-secondary" href="/">Cancel</a>
        </div>
    </form>
</div>
